.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contact-title {
  color: #333;
}

.contact-paragraph {
  color: #666;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-top: 10px;
  color: #333;
}

.contact-input,
.contact-textarea {
  margin-bottom: 15px;
  padding: 10px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #0056b3;
}
