header {
  grid-area: header;
  background-color: #2e2e2e;
  padding: 20px;
}

.content {
  grid-area: content;
  padding: 20px;
}

.content h1{
  margin: 0;
}

aside {
  grid-area: sidebar;
  background-color: #F4F4F4;
  min-width: 180px;
  /* à régler si besoin, pour la responsivité */
  max-width: 352px;

}

footer {
  grid-area: footer;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.container-movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  /* 4 colonnes de minimum 200px de large */
  gap: 1em;
  margin-left: 20px;
  margin-right: 20px;
  justify-items: center;
}

.home-link-moviecard {
  text-decoration: none;
  color: black;
}

/* Media queries pour la responsivité */
@media (max-width: 1200px) {
  .container-movies {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media (max-width: 926px) {
  .container-movies {
    grid-template-columns: repeat(3, minmax(130px, 1fr));
  }
}

@media (max-width: 768px) {
  .container-movies {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}

@media (max-width: 480px) {
  .container-movies {
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
}