.go-back {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.detail-movie-logo-back {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}
