.add-more-card {
  width: 100%;
  height: 70%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.add-more-card:hover {
  transform: scale(1.1);
}

.add-more-card .image-container {
  color: black;
  background-color: #f2f2f2;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.add-more-card-text {
  position: absolute;
  top: 30%; /* Ajustez la position verticale selon vos besoins */
  left: 50%; /* Ajustez la position horizontale selon vos besoins */
  transform: translateX(-50%);
  width: 100%;
  font-size: 1rem;
  font-style: italic;
}

.add-more-card-text-add {
  position: absolute;
  top: 50%; /* Ajustez la position verticale selon vos besoins */
  left: 50%; /* Ajustez la position horizontale selon vos besoins */
  transform: translateX(-50%);
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}
