.account-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  padding: 20px;
}

.account-sidebar-top-pencil-image {
  margin-left: auto; /* Aligner l'image tout à droite */
  padding-right: 20px;
}

.account-sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}


.account-sidebar-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; /* Aligner les éléments à gauche */
  margin-top: 30px; /* Espace entre le haut de la barre latérale et les liens */
  margin-bottom: 30px; /* Espace entre le haut de la barre latérale et les liens */
}

.account-sidebar-settings-container,
.account-sidebar-help-container,
.account-sidebar-user-container {
  display: flex;
  gap: 15px;
  align-items: center; /* Centrer verticalement */
}

.account-sidebar-logout-container {
  display: flex;
  gap: 15px;
  margin-top: 90px;
  font-size: 0.8em;
  align-items: center; /* Centrer verticalement */
}

.account-sidebar-user-photo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
