.detail-movie-comment-user-container {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.detail-movie-comment-user-photo {
  width: 100px; 
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

.detail-movie-comment-user-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.detail-movie-comment-user-text {
  margin: 0;
}
