button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #F0BE3B;
}
.off {
  color: #D9D9D9;
}
.star{
    font-size: 2em;
}

.notation-container p{
  margin:0;
}